  /* Specify font families */
  body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    color: #333;
}

/* Style for the entire container */
.container-wrapper {
    display: flex;
    flex-direction: column; /* Stack the containers vertically */
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px;
    gap: 20px; /* Spacing between containers */
}

/* Style for each row container */
.container {
    width: 100%;
    display: flex;
    flex-direction: column; /* Align items vertically */
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #fff; /* White background */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow effect */
    text-align: center;
}

/* Additional styling for the elements inside the container */
.container > * {
    margin: 10px 0;
}

video {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 30px;
    font-weight: bold; /* Make the heading bold */
} 

h6 {
    font-size: 24px;
    font-weight: normal; /* Reset font weight */
} 

p {
    font-size: 20px;
    font-weight: normal; /* Reset font weight */
} 

/* Update button style */
button {
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 20px; /* Rounded corners */
    background-color: #007bff; /* Blue color */
    color: #fff; /* White text */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}
.logo {
    max-width: 150px; /* Adjust width as needed */
    height: auto;
    margin-bottom: 20px; /* Add some space below the logo */
}

/* Center the text */
h1#facialStatus {
    margin-top: 20px; /* Add margin to separate from the logo */
}

.hidden {
    display: none;
}

.row {
    display: flex;
    align-items: center; /* Align items in the row */
    gap: 15px; /* Reduced space between icon and temperature */
    margin-bottom: 0px; /* Minimal space below the row */
}
.column {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center text inside the container */
    gap: 0px; /* Minimal space between rows */
}

.warning {
    font-size: 18px;
    color: red; /* Change this to your desired warning color */
    margin-top: 0px; /* Reduced space above the warning text */
    margin-bottom: 10px;
}